<app-navbar-solicitante></app-navbar-solicitante>
<div class="container mt-5 h-auto d-flex flex-column justify-content-center align-items-center">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <div class="w-100 d-flex flex-row justify-content-around mt-3">
        <select class="form-select form-select-sm w-auto" aria-label="Small select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>  
        <select class="form-select form-select-sm w-auto" aria-label="Small select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select form-select-sm w-auto" aria-label="Small select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>  
        <select class="form-select form-select-sm w-auto" aria-label="Small select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>  
    </div>
    
</div>
<div class="container mt-5 h-auto d-flex flex-column justify-content-center align-items-center">        
    <div class="container">
        <div class="row row-cols-2 g-2 ">
            <div class="card mb-3 ms-2" *ngFor="let dato of listaOfertas let i = index" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/Imagenes/trabajo.jpg" class="img-fluid rounded-start" alt="Empresa">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><a (click)="masInformacion(dato.codigo)">Empresa {{dato.empresa}}</a></h5>
                    <p class="card-text">Puesto {{dato.nombre}}</p>
                    <p class="card-text">Salario {{dato.salario}} </p> 
                    <h5 class="card-title">Descripcion de Oferta</h5>
                    <p class="card-text">{{dato.descripcion}}</p>
                    <button type="button" class="btn btn-info" (click)="masInformacion(dato.codigo)">Mas Informacion</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>