<app-navbar-empleador></app-navbar-empleador>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <h1>Revision de Entrevistas</h1>  
    <h3>Ofertas</h3>
  <table class="table table-primary" >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Oferta</th>
          <th scope="col">usuario</th>
          <th scope="col">Hora</th>
          <th scope="col">Estado</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody *ngFor="let dato of listarEntrevistas let i = index" >
        <tr>
          <th>{{i+1}}</th>
          <td>{{dato.nombreOferta}}</td>
          <td>{{dato.nombre}}</td>
          <td>{{dato.hora}}</td>
          <td>{{dato.estado}}</td>
          <td ><button class="btn btn-primary" type="submit"(click)="seleccionarEntrevista(dato.codigo, dato.usuario)" *ngIf="dato.estado == 'PENDIENTE'">Seleccionar</button></td>
        </tr>
      </tbody>
  </table>
  </div>