<app-navbar-empleador></app-navbar-empleador>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <h1 *ngIf="cargar" >Candidatos Oferta  {{listarPostulantes[0].nombre}}</h1>
    <div class="d-flex flex-row justify-content-between ">
      <button class="btn btn-primary mt-3 w-25" type="submit" (click)="cancelar()" >Cancelar</button>
      <button class="btn btn-primary mt-3 w-25" type="submit" (click)="faseEntrevista()" >Pasar fase entrevista</button>  
    </div>
    
<table class="table table-primary mt-5" >
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Candidato</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of listarPostulantes let i = index" >
      <tr>
        <th>{{i+1}}</th>
        <td>{{dato.nombreUsuario}}</td>
        <td>{{dato.estado}}</td>
        <td><button class="btn btn-primary" type="submit"(click)="seleccionarPostulante(dato.usuario, dato.codigoOferta)" >Seleccionar</button></td>
      </tr>
    </tbody>
</table>

</div>
