<app-navbar-empleador></app-navbar-empleador>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <h1 *ngIf="cargar" >Candidatos Oferta  {{listarPostulantes[0].nombre}}</h1>
    <div class="d-flex flex-row justify-content-between ">
      <button class="btn btn-primary mt-3 w-25" type="submit" (click)="cancelar()" >Regresar</button>
      <button class="btn btn-primary mt-3 w-25"  type="submit" (click)="faseEntrevista(template)" >Pasar fase entrevista</button>  
    </div>
    
<table class="table table-primary mt-5"  *ngIf="cargar">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Candidato</th>
        <th scope="col">Estado</th>
        <th scope="col">Seleccionar</th>
      </tr>
    </thead>
    <tbody *ngFor="let dato of listarPostulantes let i = index" >
      <tr>
        <th>{{i+1}}</th>
        <td>{{dato.nombreUsuario}}</td>
        <td>{{dato.estado}}</td>
        <td><button class="btn btn-primary" type="submit"(click)="seleccionarPostulante(dato.usuario, dato.codigoOferta)" >Seleccionar</button></td>
      </tr>
    </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Mensaje</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Noy hay postulantes para pasar entrevista
    </div>
    <div class="d-flex w-100 justify-content-center align-items-center mb-3">
      <button type="button" class="btn btn-primary w-25" aria-label="Close" (click)="modalRef?.hide()">
          OK  
      </button>
    </div>
    
</ng-template> 

</div>
<div class="d-flex justify-content-center align-items-center h-75 w-100" *ngIf="!cargar">
    <h1>No hay postulaciones</h1>
</div>
