<app-navbar-solicitante></app-navbar-solicitante>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center border border-black rounded p-4" *ngIf="carga">
  <h3>Revision de Entrevistas</h3>
    <table class="table table-primary" >
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Fecha</th>
            <th scope="col">Entrevista</th>
            <th scope="col">Hora</th>
            <th scope="col">Ubicacion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let dato of listarEntrevistas let i = index" >
          <tr>
            <th>{{i+1}}</th>
            <td>{{dato.fecha}}</td>
            <td>{{dato.empresa}}</td>
            <td>{{dato.hora}}</td>
            <td>{{dato.ubicacion}}</td>
            <td><button class="btn btn-primary" type="submit"(click)="masInformacion(dato.codigoOferta)" >Mas informacion</button></td>
          </tr>
        </tbody>
      </table>  
</div>

<div class="d-flex justify-content-center align-items-center h-75 w-100 " *ngIf="!carga">
  <h1>No hay entrevistas</h1>
</div>
