<app-navbar-admin></app-navbar-admin>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center align-items-center"  >
    <form class=" border w-75 mb-5 rounded-top p-4 " [formGroup]="form" *ngIf="carga" >
        <h2>Categoria : {{listarCategoria.nombre}}  Editar</h2>
        <h5 class="mt-5">Categoria</h5>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" 
              [class.is-invalid]="form.controls['nombre'].invalid && form.controls['nombre'].touched"
              id="nombre" placeholder="Categoria" name="nombre" formControlName="nombre">
              <div
                *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)"
                class="invalid-feedback">
                <div>
                  Por favor ingrese el nombre de la oferta
                </div>
              </div>
            <label for="nombre">Categoria</label>
          </div>

        <h5 class="mt-5">Descripcion</h5>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" 
              [class.is-invalid]="form.controls['descripcion'].invalid && form.controls['descripcion'].touched"
              id="descripcion" placeholder="Descripcion" name="descripcion" formControlName="descripcion">
              <div
                *ngIf="form.controls['descripcion'].invalid && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)"
                class="invalid-feedback">
                <div>
                  Por favor ingrese el nombre de la oferta
                </div>
              </div>
            <label for="descripcion">Descripcion</label>
          </div>
          <div class="d-flex flex-row w-100 justify-content-between">
            <button class="btn btn-primary" type="submit" (click)="cancelar()" >Cancelar</button>
                <button class="btn btn-primary" type="submit" (click)="editarCategoria(template, template2)" >Editar</button>
          </div>
    </form>
    <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Mensaje</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Categoria editada
        </div>
        <div class="d-flex w-100 justify-content-center align-items-center mb-3">
          <button type="button" class="btn btn-primary w-25" aria-label="Close" (click)="modalRef?.hide()">
              OK  
          </button>
        </div>
        
    </ng-template>

    <ng-template #template2>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Mensaje</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          El nombre de la categoria ya existe, esta vacio o la decripcion esta vacia 
        </div>
        <div class="d-flex w-100 justify-content-center align-items-center mb-3">
          <button type="button" class="btn btn-primary w-25" aria-label="Close" (click)="modalRef?.hide()">
              OK  
          </button>
        </div>
        
    </ng-template>
</div>
