<nav class="navbar navbar-expand-lg bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand">Solicitante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('aplicar')" [ngClass]="{ 'disabled': completarInfo }">Aplicar Empleo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('postular')" [ngClass]="{ 'disabled': completarInfo }">Postulaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('entrevista')" [ngClass]="{ 'disabled': completarInfo }">Entrevistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('reportes')" [ngClass]="{ 'disabled': completarInfo }">Reportes</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" (click)="cambiarPagina('perfil')" [ngClass]="{ 'disabled': completarInfo }">Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
            </svg>
          </a>
          <ul class="dropdown-menu " style="max-height: 200px; overflow-y: auto; width: 500px;">
            <li class="border-end" *ngFor="let dato of notificaciones let i = index"><a class="dropdown-item">{{dato.mensaje}}</a></li>
          </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="close()">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
</nav>