<nav class="navbar navbar-expand-lg bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand">Solicitante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('aplicar')" [ngClass]="{ 'disabled': completarInfo }">Aplicar Empleo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('postular')" [ngClass]="{ 'disabled': completarInfo }">Postulaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('entrevista')" [ngClass]="{ 'disabled': completarInfo }">Entrevistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cambiarPagina('reportes')" [ngClass]="{ 'disabled': completarInfo }">Reportes</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" (click)="cambiarPagina('perfil')" [ngClass]="{ 'disabled': completarInfo }">Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu " style="max-height: 200px; overflow-y: auto; width: 500px;">
            <li *ngFor="let dato of notificaciones let i = index"><a class="dropdown-item">{{dato.mensaje}}</a></li>
          </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="close()">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
</nav>