<app-navbar-empleador></app-navbar-empleador>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center" [formGroup]="form">
    <h1>Gestion</h1>
    <div class="row row-cols-3 g-4 mt-3 mb-5 border border-black rounded p-4">
        <h5>Tipo de fecha</h5>
          <select class="form-select" aria-label="Default select example"
          id="fechaS" placeholder="fechaS" name="fechaS" formControlName="fechaS"  >
            <option selected >Seleccione tipo fecha</option>
            <option *ngFor="let dato of listarFechas  let i = index" value="{{dato.valor}}">{{dato.nombre}}</option>
          </select>
        <h3>Filtro de fechas</h3>
        <div class=" form-group " >
            <label for="fechaA" class="form-label">Fecha Inicial</label>
            <input type="text"
                placeholder="Fecha"
                class="form-control "
                bsDatepicker
                [class.is-invalid]="form.controls['fechaA'].invalid && form.controls['fechaA'].touched"
                id="fechaA"  name = "fechaA" formControlName="fechaA"
            >
            <div
                    *ngIf="form.controls['fechaA'].invalid && (form.controls['fechaA'].dirty || form.controls['fechaA'].touched)"
                    class="invalid-feedback">
                    <div>
                        Por favor ingrese la fecha 
                    </div>
                </div>
        </div>
        <div class=" form-group">
            <label for="fechaB" class="form-label">Fecha Final</label>
            <input type="text"
                placeholder="Fecha"
                class="form-control "
                bsDatepicker
                [class.is-invalid]="form.controls['fechaB'].invalid && form.controls['fechaB'].touched"
                id="fechaB"  name = "fechaB" formControlName="fechaB"
            >
            <div
                    *ngIf="form.controls['fechaB'].invalid && (form.controls['fechaB'].dirty || form.controls['fechaB'].touched)"
                    class="invalid-feedback">
                    <div>
                        Por favor ingrese la fecha 
                    </div>
                </div>
        </div>
        <button class="btn btn-primary h-25" type="submit" (click)="cargarOfertas()" >Cargar</button>
    </div>

    <button class="btn btn-primary h-25 mb-5" type="submit" (click)="crearOferta()" >Crear Oferta</button>
    
    <table class="table table-primary" >
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Oferta</th>
            <th scope="col">Categoria</th>
            <th scope="col">Fecha Publicacion</th>
            <th scope="col">Fecha Limite</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let dato of listarOfetas let i = index" >
          <tr>
            <th>{{i+1}}</th>
            <td>{{dato.nombre}}</td>
            <td>{{dato.categoria}}</td>
            <td>{{dato.fechaPublicacion}}</td>
            <td>{{dato.fechaLimite}}</td>
            <td>{{dato.estado}}</td>
            <td><button class="btn btn-primary" type="submit"(click)="editarOferta(dato.codigo)" >Editar</button></td>
            <td><button class="btn btn-primary" type="submit"(click)="eliminarOferta(dato.codigo)" >Eliminar</button></td>
          </tr>
        </tbody>
    </table>  
</div>
