<app-navbar-empleador></app-navbar-empleador>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center align-items-start" *ngIf="carga" >
    <h1>Candidato : {{listarPostulante.nombre}}</h1>
    <h3>Curriculum</h3>
    <p>{{listarPostulante.curriculum}}</p>
    <h3>Mensaje</h3>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Menasje de {{listarPostulante.nombre}}</h5>
          <p class="card-text">{{listarPostulante.mensaje}}</p>
        </div>
    </div>
    <div class="d-flex flex-row w-100 justify-content-between mt-5">
        <button class="btn btn-primary h-25 mb-5" type="submit" (click)="cancelar()" >Cancelar</button>
        <button class="btn btn-primary h-25 mb-5" type="submit" (click)="pasarEntrevista()" >Pasar Entrevista</button>
    </div>
</div>
