<app-navbar-admin></app-navbar-admin>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center border border-black rounded p-4">
    <h1>{{rol}}</h1>  
    <div class="d-flex w-100 justify-content-between aling-content-center">
      <button class="btn btn-danger w-25 mt-3 mb-3" type="submit"  (click)="cancelar()">Cancelar</button>
      <button class="btn btn-primary mt-3 mb-3 w-25 " type="submit" (click)="crearUsuario()">Crear {{rol}}</button>
    </div>
    
  <table class="table table-primary" >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Username</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Suspender</th>
        </tr>
      </thead>
      <tbody *ngFor="let dato of listarUsuarios let i = index" >
        <tr>
          <th>{{i+1}}</th>
          <td>{{dato.nombre}}</td>
          <td>{{dato.email}}</td>
          <td>{{dato.username}}</td>
          <td ><button class="btn btn-primary" type="submit" (click)="editarUsuario(dato.codigo)">Editar</button></td>
          <td ><button class="btn btn-danger" type="submit" (click)="eliminarUsuario(dato.username)">Eliminar</button></td>
          <td ><div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" [checked] = "dato.suspension"  (change)="suspenderUsuario(dato.username, $event)" id="suspension{{i+1}}">
            <label class="form-check-label" for="suspension{{i+1}}">Suspension</label>
          </div></td>
        </tr>
      </tbody>
  </table>
  
  </div>
