<app-navbar-admin></app-navbar-admin>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <h1>Usuarios</h1>  
    <div class="d-flex w-100 justify-content-end aling-content-center">
        <button class="btn btn-primary mt-3 mb-3 w-25 justify-self-center" type="submit">Crear Usuario</button>
    </div>
    
  <table class="table table-primary" >
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Usuario</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminarr</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <td></td>
          <td ><button class="btn btn-primary" type="submit" >Editar</button></td>
          <td ><button class="btn btn-primary" type="submit" >Eliminar</button></td>
        </tr>
      </tbody>
  </table>
  </div>
