<app-navbar-admin></app-navbar-admin>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-start">
        
        <h1>Historial de comisiones</h1>
        <div class="border border-black rounded w-100 p-4 mb-5">
            <div class="d-flex flex-row w-100 justify-content-between align-items-center">
              <button class="btn btn-primary w-25 mb-3" type="submit" (click)="descargarHistorialComision()">Descarga</button>
            </div>
            <table class="table table-primary " >
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Comision</th>
                  <th scope="col">Fecha</th>
                </tr>
              </thead>
              <tbody *ngFor="let dato of listarRegistroComision let i = index">
                <tr>
                  <th>{{i+1}}</th>
                  <td>{{dato.comision}}</td>
                  <td>{{dato.fecha}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        
        
          
        
          <h1>Top 5 empleadores mas ofertas</h1>
          <div class="border border-black rounded w-100 p-4 mb-5">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center">
              <button class="btn btn-primary w-25 mb-3" type="submit" (click)="descargarTopEmpleadores()">Descarga</button>
          </div>
          <table class="table table-primary mb-5" >
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Empleador</th>
                  <th scope="col">Cantidad de Ofertas</th>
                </tr>
              </thead>
              <tbody *ngFor="let dato of listaEmpleadores let i =index ">
                <tr>
                  <th>{{i+1}}</th>
                  <td>{{dato.nombre}}</td>
                  <td>{{dato.cantidad}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        <form [formGroup]="formreporte2" class="w-100">
          <h1>Top 5 empleadores mas ingresos</h1>
          <div class="border border-black rounded w-100 p-4 mb-5">
          <div class="d-flex flex-row w-100 justify-content-between mb-3">
            <div class=" form-group ">
                <label for="fechaA" class="form-label">Desde</label>
                <input type="text"
                    placeholder="Fecha"
                    class="form-control "
                    bsDatepicker
                    [class.is-invalid]="formreporte2.controls['fechaA'].invalid && formreporte2.controls['fechaA'].touched"
                    id="fechaA"  name = "fechaA" formControlName="fechaA"
                >
                <div
                        *ngIf="formreporte2.controls['fechaA'].invalid && (formreporte2.controls['fechaA'].dirty || formreporte2.controls['fechaA'].touched)"
                        class="invalid-feedback">
                        <div>
                            Por favor ingrese la fecha 
                        </div>
                    </div>
            </div>
            <div class=" form-group ">
                <label for="fechaB" class="form-label">Hasta</label>
                <input type="text"
                    placeholder="Fecha"
                    class="form-control "
                    bsDatepicker
                    [class.is-invalid]="formreporte2.controls['fechaB'].invalid && formreporte2.controls['fechaB'].touched"
                    id="fechaB"  name = "fechaB" formControlName="fechaB"
                >
                <div
                        *ngIf="formreporte2.controls['fechaB'].invalid && (formreporte2.controls['fechaB'].dirty || formreporte2.controls['fechaB'].touched)"
                        class="invalid-feedback">
                        <div>
                            Por favor ingrese la fecha 
                        </div>
                    </div>
            </div>
            
        </div>
          <div class="d-flex flex-row w-100 justify-content-between align-items-center">
            <button class="btn btn-primary w-25 mb-3" type="submit" (click)="fechasIngresos()">Cargar</button>  
            <button class="btn btn-primary w-25 mb-3" type="submit" (click)="descargarEmpleadoresIngresos()">Descarga</button>
          </div>
          <table class="table table-primary mb-5" >
              <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Empleador</th>
                    <th scope="col">Ofertas</th>
                    <th scope="col">Ingresos</th>
                </tr>
              </thead>
              <tbody *ngFor="let dato of listarIngresosTotales let i = index">
                <tr *ngIf="cargainforme2">
                  <th>{{i+1}}</th>
                  <td>{{dato.nombre}}</td>
                  <td>{{dato.cantidadOfertas}}</td>
                  <td>{{dato.total}}</td>
                </tr>
              </tbody>
        </table>  
          </div>
    </form>
    <form [formGroup]="formreporte3" class="w-100">
      <h1>Total de Ingresos</h1>
      <div class="border border-black rounded w-100 p-4 mb-5">
      <div class="d-flex flex-row w-100 justify-content-between mb-3">
        <div class=" form-group ">
            <label for="fechaA" class="form-label">Desde</label>
            <input type="text"
                placeholder="Fecha"
                class="form-control "
                bsDatepicker
                [class.is-invalid]="formreporte3.controls['fechaA'].invalid && formreporte3.controls['fechaA'].touched"
                id="fechaA"  name = "fechaA" formControlName="fechaA"
            >
            <div
                    *ngIf="formreporte3.controls['fechaA'].invalid && (formreporte3.controls['fechaA'].dirty || formreporte3.controls['fechaA'].touched)"
                    class="invalid-feedback">
                    <div>
                        Por favor ingrese la fecha 
                    </div>
                </div>
        </div>
        <div class=" form-group ">
            <label for="fechaB" class="form-label">Hasta</label>
            <input type="text"
                placeholder="Fecha"
                class="form-control "
                bsDatepicker
                [class.is-invalid]="formreporte3.controls['fechaB'].invalid && formreporte3.controls['fechaB'].touched"
                id="fechaB"  name = "fechaB" formControlName="fechaB"
            >
            <div
                    *ngIf="formreporte3.controls['fechaB'].invalid && (formreporte3.controls['fechaB'].dirty || formreporte3.controls['fechaB'].touched)"
                    class="invalid-feedback">
                    <div>
                        Por favor ingrese la fecha 
                    </div>
                </div>
                <select class="form-select mb-3 h-25 mt-3"  aria-label="Default select example" 
                id="categoria" name="categoria" formControlName="categoria">
                <option *ngFor="let dato of listarCategorias let i = index" value={{dato.codigo}} (change) = "cambioCategoria(dato.codigo)" >{{dato.nombre}}</option>
                </select>
        </div>
        
    </div>
        <div class="d-flex flex-row w-100 justify-content-between align-items-end">
            <button class="btn btn-primary w-25 mb-3" type="submit" (click)="cambiarFechaEstadoCantidadTotal()">Cargar</button>
            <button class="btn btn-primary w-25 mb-3" type="submit"(click)="descargarTotalIngresos()" >Descarga</button>
        </div>
        <table class="table table-primary mb-5" >
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ingresos</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngIf="carga">
                <th>{{1}}</th>
                <td>{{gananciaTotal.categoria}}</td>
                <td>{{gananciaTotal.cantidadTotal}}</td>
              </tr>
            </tbody>
          </table>
      </div>
        </form>
        </div>

        
</div>
