<app-navbar-admin></app-navbar-admin>
<div class="container-sm mt-5 h-auto d-flex flex-column justify-content-center">
    <h1>Comision</h1>
    <div class="card w-50" *ngIf="carga">
        <h5 class="card-header">Cambiar Comision</h5>
        <div class="card-body">
            <div class="border rounded p-3 ">
                <h3>Comision Actual: $ {{listarComision.cantidad}} </h3>
            </div>
        <h5 class="mt-3">Nuevo valor</h5>
        <div class="form-floating mb-3" [formGroup]="form" (ngSubmit)="cambiarComision()">
            <input type="number" class="form-control" 
              [class.is-invalid]="form.controls['cantidad'].invalid && form.controls['cantidad'].touched"
              id="cantidad" placeholder="Cantidad" name="cantidad" formControlName="cantidad">
              <div
                *ngIf="form.controls['cantidad'].invalid && (form.controls['cantidad'].dirty || form.controls['cantidad'].touched)"
                class="invalid-feedback">
                <div>
                  Por favor ingrese el nuevo valor
                </div>
              </div>
            <label for="cantidad">Nueva Cantidad</label>

            <div class="d-flex w-100 justify-content-end mt-3">
                <button class="btn btn-primary" type="submit" (click)="cambiarComision()" >Cambiar</button>
              </div>
          </div>
          
          
        </div>
    </div>

    
</div>
